#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 100px;
  text-align: center;
  background-color: #fff;
  --primary-color: #00a884;
  --text-dark: #222;
  --bg-light: #f9f9f9;
}