#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 120px;
  text-align: center;
  background-color: #fff;
  --primary-color: #00a884;
  --text-dark: #222;
  --bg-light: #f9f9f9;
}